@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-mont: "Montserrat", sans-serif; 
  --font-mont-alt: "Montserrat Alternates", sans-serif
}

.scrolled{
    background-color: #2563eb;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: white;
}
header a:hover{
  background-color: #2563eb;
  color: white;
}

.scrolled .tour{
  border-color: white;
}
.scrolled a:hover{
  background-color: white;
  color: #2563eb;
}

header .language-selector {
  position: relative;
  font-weight: 600;
  font-size: 1.5rem;
}

header .language-selector #current-lang {
  padding: 0.625rem 1.25rem;
  background-color: transparent;
  border: none;
  gap: 0.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

header .language-selector .current-lang {
  background-color: transparent;
  border: none;
  gap: 0.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition:  0.3s ease;
}

header .language-selector #current-lang:hover,
header .language-selector #current-lang:active {
  color: #fff;
  background-color: #2563eb;
}

header .language-selector #current-lang .arrow {
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

header .language-selector #current-lang.open .arrow {
  transform: rotate(-90deg);
}

header .language-selector .current-lang .arrow {
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

header .language-selector .current-lang.open .arrow {
  transform: rotate(-90deg);
}

/* Скрытое состояние dropdown */
header .language-selector .dropdown {
  margin-top: -0.0625rem;
  position: absolute;
  left: 0;
  width: auto;
  background-color: #2563eb;
  list-style: none;
  z-index: 100;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}

/* Показанное состояние dropdown */
header .language-selector .dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

header .language-selector .dropdown li {
  padding: 0.625rem 1.25rem;
  width: 4.375rem;
  cursor: pointer;
  color: #fff;
  transition: background 0.2s ease;
}

header .language-selector .dropdown li:hover {
  background-color: #114999;
}

header .open {
  background-color: #2563eb !important;
  color: #fff;
}
