@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-mont: "Montserrat", sans-serif; 
  --font-mont-alt: "Montserrat Alternates", sans-serif
}

.scrolled{
    background-color: transparent;
    backdrop-filter: blur(20px); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    color:
}
.scrolled .tour{
  background-color: transparent;
  
}

.scrolled a:hover{
  background-color: #2563eb;
  color: white;
}
.tour:hover{
  background-color: white;
  border-radius: 10px;
  border: 2px white solid;
  color: #2563eb;
}


